@charset "utf-8";
/* CSS Document */
/*<div id="option-container" class="op-container">
  <span id="option-val" class="op-text" data-value="" ></span>
	<a href=""></a>
	<ul id="option-list" class="op-list">
		<li data-option="" class="selected"></li>
	</ul>
</div>*/
.op-container{
	font-size  : 12px;
	margin-left:50px;
	margin-top : 50px;
	border     :1px solid #ccc;
	height     : 18px;
	line-height: 18px;
	position   : relative;
	padding    :3px 5px;
	width      :150px;
	cursor     : pointer;
}
.op-container a{
	position: absolute;
	line-height: 18px;
	right:6px;
	top:9px;
	text-decoration: none;
	border:5px solid #333;
	border-left-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
}
.op-text{
	position: absolute;
	padding-right: 20px;
	height:18px;
	line-height: 18px;
	left:3px;
	top:3px;
}
.op-list{
	overflow-y:auto;
	max-height:150px;
	width: 150px;
	padding: 0px 5px;
	position: relative;
	top : 21px;
	left : -6px; 
	border: 1px solid #ccc;
}
.op-list li{
	margin: 0 -5px;
	padding:3px 5px;
	height: 18px;
	line-height: 18px;
}
.op-list li:hover{
	background-color: #FCEDB1;
}
